body {
    background-image: url(storage/imagenfondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sun {
    position: absolute;
    right: 10%;
    width: 10vw;
    height: 20vh;
}

.cloud {
    width: 8VW;
    height: 11VH;
    background-image: url('storage/nube.png'); 
    background-size: cover;
    position: absolute;
    top: 0;
    right: -100px; 
    animation: moveCloud 10s linear forwards; 
}

  @keyframes moveCloud {
    0% {
      right: -100px; 
    }
    40% {
      right: calc(50% - 50px); 
    }
    75% {
      right: calc(50% - 50px); 
    }
    100% {
      right: calc(0% - -2000px); 
    }
  }

  .rain {
    position: absolute;
    right: 49%;
    width: 5%;
    height: 5%;
    background-image: url('storage/gotas.png');
    background-size: contain;
    background-repeat: repeat;
    animation: rainFall 10s linear forwards;
  }
  
  @keyframes rainFall {
    0% {
        transform: translateY(-200%);
      }
    60% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(2000%);
    }
  }

  .rain2 {
    position: absolute;
    right: 48%;
    width: 5%;
    height: 5%;
    background-image: url('storage/gotas.png');
    background-size: contain;
    background-repeat: repeat;
    animation: rainFall 11s linear forwards;
  }
  
  @keyframes rainFall {
    0% {
        transform: translateY(-200%);
      }
    60% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(2000%);
    }
  }

  .flower {
    position: absolute;
    right: 35%;
    width: 25%;
    height: 25%;
    background-image: url('storage/flor.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: floweeer 12s linear forwards;
  }
  
  @keyframes floweeer {
    0% {
        transform: translateY(2000%);
      }
    60% {
      transform: translateY(2000%);
    }
    100% {
      transform: translateY(200%);
    }
  }